ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

ul li:nth-child(odd) {
  font-size: 20px;
}

ul li:nth-child(2) {
  font-size: 25px;
}
